/* *{outline: 1px solid #000;} */

body{
    background-color: #f6f7f8;
}
a{  
    text-decoration: none;
    color: gray;
}

.navbar {
    margin-bottom: 30px;
}

#leftDiv {
    position: absolute;
    width: 350px;
    height: 100vh;
    /* margin-left: 7%; */
    
    left: 5%;
    /* text-align: center; */
}

#userContents {
    padding-left: 30px;
    width: 200px;
    
}


.hr_slid {
    -webkit-mask-image: linear-gradient(to right, transparent, black, transparent);
    mask-image: linear-gradient(to right, transparent, black, transparent);
}

#rightDiv {
    width: 700px;
    /* margin-left: 500px; */
    margin-left: 40%;
    /* padding-top: 50px; */
}

div>img {
    margin: 20px;
}

section>button {
    position: relative;
    left: 600px;
}

#submitBtn {
    margin-top: 30px;
    /* margin-bottom: 60px; */
}

.btn-orange {
    color: #fff;
    background-color: #ffa101;
    border-color: #ffa101;
}

.btn-orange:hover {
    color: #fff;
    background-color: #ff8801;
    border-color: #ff8801;
}

.btn-outline-orange {
    color: #ffa101;
    border-color: #ffa101;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #ff8801;
    border-color: #ff8801;
}

.btn-primary {
    color: #fff;
    background-color: #41b2ac;
    border-color: #41b2ac;
}

.btn-primary:hover {
    color: #fff;
    background-color: #068a83;
    border-color: #068a83;
}

.btn-outline-primary {
    color: #41b2ac;
    border-color: #41b2ac;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #068a83;
    border-color: #068a83;
}

.btn-secondary {
    color: #fff;
    background-color: #d6d6d6;
    border-color: #d6d6d6;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #aaaaaa;
    border-color: #aaaaaa;
}

a {
    color: #798584;
    text-decoration: none;
}

a:hover {
    color: #41b2ac;
}