.container {
	max-width: 100%;
	position: relative;
  justify-content: center; 
	text-align: center;
}

.search h1 h4{
	position: absolute; 
	top: 0;             
	bottom: 0;           
	left: 0;        
	right: 0;
	margin: auto; 
}


main {
	position: absolute; 
	top: 0;             
	bottom: 0;           
	left: 0;        
	right: 0;
	margin: auto; 
}

.search{
	margin-bottom: 1rem;
}

table { 
  font-size:16px; 
  width:200px;
  border:2px solid #000;
  text-align:center;
  border-collapse:collapse;
	margin: auto;
} 
th { 
  background-color: #009FCC;
  padding:10px;
  border:2px solid #000;
  color:#fff;
} 
td { 
  border:2px solid #000;
  padding:5px;
} 

row {
	display: inline-flex;
}